 {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/register.css' %}" rel="stylesheet" />
  </head>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Registration</h2>
    </div>
    <span class="mb-0 text-muted">
      {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
  <ul class="messages">
{% if msg %}


      <li{% if msg.tags %} class="{{ msg.tags }}"{% endif %}>{{ msg }}</li>
   
  </ul>
{% endif %}

    </span>
    <div class="row clearfix">
      <div class="">
        <form method="post">
          {% csrf_token %}
          <div class="input_field">
            {{ form.username }}
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field">
                {{ form.first_name }}
              </div>
            </div>
            <div class="col_half">
              <div class="input_field">
                {{ form.last_name }}
              </div>
            </div>
        </div>
           <div class="input_field">
            {{ form.cin_number }}
          </div>
          </div>
                    <div class="input_field">
            {{ form.email }}
          </div>
          <div class="input_field">
            {{ form.password1 }}
          </div>
          <div class="input_field">
            {{ form.password2 }}
          </div>
          <div class="input_field checkbox_option">
              <div class="form-check">

            {{ form.accept_terms }}
         <label class="form-check-label" for="{{ form.accept_terms.id_for_label }}">
      {{ form.accept_terms.label }}
          </div>
        </div>
          <input class="button" type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  setTimeout(function() {
    document.getElementById('messages').style.display = 'none';
  }, 3000); // 3000ms = 3 seconds
</script>
</html>