{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{% static 'css/register.css' %}" rel="stylesheet" />
  </head>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Patient Registration</h2>
    </div>
  
{% if messages %}
  {% for message in messages %}
    <div class="container">
      <div class="row">
        <div id="aui-flag-container" style="top: 220px">
          <div class="aui-flag" aria-hidden="false">
            
            <div id="message-container" class="aui-message{% if message.tags == 'success' %} aui-message-success success{% elif message.tags == 'error' %} aui-message-error error{% elif message.tags == 'warning' %} aui-message-warning warning{% endif %} closeable shadowed">
              {{ message }}
              <span class="aui-icon icon-close fa fa-close" role="button" tabindex="0"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
<script src="{% static 'js/messages.js' %}"></script>
{% endif %}
    <div class="row clearfix">
      <div class="">
        <form method="post">
          {% csrf_token %}
          <div class="input_field">
            {{ form.username }}
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field">
                {{ form.first_name }}
              </div>
            </div>
            <div class="col_half">
              <div class="input_field">
                {{ form.last_name }}
              </div>
            </div>
        </div>
           <div class="input_field">
            {{ form.cin_number }}
          </div>
          </div>
                    <div class="input_field">
            {{ form.email }}
          </div>
          <div class="input_field">
            {{ form.password1 }}
          </div>
          <div class="input_field">
            {{ form.password2 }}
          </div>
          <div class="input_field checkbox_option">
              <div class="form-check">

            {{ form.accept_terms }}
         <label class="form-check-label" for="{{ form.accept_terms.id_for_label }}">
      {{ form.accept_terms.label }}
          </div>
        </div>
          <input class="button" type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>
</html>