{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{% static 'css/user-type.css' %}" rel="stylesheet" />

    <title>Login with OTP</title>
  </head>
  <body>
    <div class="container">
      <h1>Login with <h2>OTP</h2></h1>
        <p>To login with an OTP, please use an authenticator app to scan the QR code provided
        Once scanned, the app will generate a unique code that you can 
         use to authenticate your login. This adds an extra layer of security to your account, 
         so be sure to keep your phone and OTP code secure.</p>

      <img src="data:image/png;base64,{{ qr_image }}" alt="QR Code">
      <br>
      <a class="button" href="{% url 'login_view' %}">Login</a>
      <a class="button" href="{% url 'home' %}">Go back home</a>
    </div>
  </body>
</html>