{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/register.css' %}" rel="stylesheet" />
  </head>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                <div class="mb-4">
                  <h1>User Registration page</h1>
                </div>
                <span class="mb-0 text-muted">
                  {% if msg %} {{ msg | safe }} {% else %} Login page {% endif %}</span
                >
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Username</label>
                    {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                    {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">confirm Password</label>
                    {{ form.password2 }}
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"
                      ><span class="caption">Admin</span>
                      {{ form.is_admin }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"
                      ><span class="caption">customer</span>
                      {{ form.is_customer }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"
                      ><span class="caption">employee</span>
                      {{ form.is_employee }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <span class="text-error">{{ form.errors }}</span>
                  <input
                    type="submit"
                    value="Next"
                    class="btn btn-pill text-white btn-block btn-primary"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Responsive Registration Form</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field">
              <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field">
              <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="input_field">
              <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input
                type="password"
                name="password"
                placeholder="Re-type Password"
                required
              />
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="First Name" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field">
                  <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input
                    type="text"
                    name="name"
                    placeholder="Last Name"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="input_field radio_option">
              <input type="radio" name="radiogroup1" id="rd1" />
              <label for="rd1">Male</label>
              <input type="radio" name="radiogroup1" id="rd2" />
              <label for="rd2">Female</label>
            </div>
            <div class="input_field select_option">
              <select>
                <option>Select a country</option>
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
              <div class="select_arrow"></div>
            </div>
            <div class="input_field checkbox_option">
              <input type="checkbox" id="cb1" />
              <label for="cb1">I agree with terms and conditions</label>
            </div>
            <div class="input_field checkbox_option">
              <input type="checkbox" id="cb2" />
              <label for="cb2">I want to receive the newsletter</label>
            </div>
            <input class="button" type="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <p class="credit">
    Developed by
    <a href="http://www.designtheway.com" target="_blank">Design the way</a>
  </p>
</html>
