{% extends 'main.html' %}{% block content %}
<section class="blog_section layout_padding">
  <div class="container">
    <div class="heading_container heading_left">
      <h2 class="col-md-10 mx-auto px-0 title">Radio.AI Blog</h2>
      <p class="col-md-10 mx-auto px-0">
        Looking into the future of healthcare
      </p>
    </div>
<div class="category-buttons">
    <button class="category-button">Cafffffffffffffftego,,jjjkjkry 1</button>
    <button class="category-button">Category 2</button>
    <button class="category-button">Category 3</button>
    <button class="category-button">Category 4</button>
     <button class="subscribe-button"> Join Newsletter >> </button>
  </div>

  <section id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Sunset</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <a href="" class="btn custom-btn2">Read More</a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="fa fa-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Sunset</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <a href="" class="btn custom-btn2">Read More</a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="fa fa-heart"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Sunset</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <a href="" class="btn custom-btn2">Read More</a>
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="fa fa-heart"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 

<a href="" class="btn custom-btn2">View All</a>
</div>
</section>

  {% endblock content %}
</section>
