{% extends 'main.html' %}{% load static %}{% block content %}
<section class="blog_section layout_padding">
  <div class="container">
    <div class="heading_container heading_left">
      <div class="title-gap col-md-10 mx-auto px-0">
        <h2>Radio.AI Blog</h2>
        <p> Looking into the future of healthcare </p>

        <hr />
        <div class="container">
          <div class="row category-buttons">
            <div class="col-sm-9">
              <a href="{% url 'articles' %}" class="btn category-button"
                >All Articles</a
              >
              <a href="" class="btn category-button">Technology</a>
              <a href="" class="btn category-button">Radiology</a>
              <a href="" class="btn category-button">Medicine</a>
            </div>
            <div class="col-sm-3">
              <a href="{% url 'newsletter' %}" class="btn category-button"
                >Join Newsletter</a
              >
            </div>
          </div>
        </div>
      </div>
      <hr />
      <h3 class="col-md-10 mx-auto px-0 title">Featured Articles</h3>
    </div>

    <div class="col-md-10 mx-auto px-0 heading_container heading_center">
      <div class="row">
        {% for post in blog_posts %}
        <div class="col-lg-4 mb-4">
          <div class="card">
          {% if post.image %}
  <img src="{{ post.image.url }}" alt="" class="card-img-top" style="width: 300px; height: 200px; object-fit: cover;">          {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{ post.get_short_description|safe }}</p>
              <a href="{% url 'blog_details' post.pk %}" class="btn custom-btn2"
                >Read More</a
              >
              <a href="" class="btn btn-outline-danger btn-sm"
                ><i class="fa fa-heart"></i
              ></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="title-gap col-md-10 mx-auto px-0">
      <h2>Our Authors</h2>
      <p>
At Radio.AI Blog, we take pride in featuring articles written by highly skilled professionals in the field of medicine. Our authors, who are primarily doctors and radiologists, bring their extensive knowledge and expertise to provide valuable insights and information to our readers.



      </p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
         <i class="fa fa-user fa-lg"></i>
          </div>
          <div class="detail-box">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>Meriam Mohamed</h5>
            <h6 class="">Radiologist</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
      <i class="fa fa-user fa-lg"></i>
              </div>
          <div class="detail-box">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>Adem Salah</h5>
            <h6 class="">Doctor</h6>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

{% endblock content %}
