{% extends 'main.html' %} {% block content %}
<section class="blog_details_section layout_padding">
  <div class="container">
    <div class="col-md-10 mx-auto px-0 heading_container heading_left">
      <div class="nav-gap">
        <a href="{% url 'blog' %}" class="breadcrumbs">
          Blog&nbsp;&nbsp;&nbsp;&nbsp;></a
        >
        &nbsp;&nbsp;&nbsp;&nbsp;<a
          href="{% url 'articles' %}"
          class="breadcrumbs"
        >
          Articles&nbsp;&nbsp;&nbsp;&nbsp;></a
        >&nbsp;&nbsp;&nbsp;&nbsp;{{post.title}}
      </div>
      <h1 class="headline">{{post.title}}</h1>

   
      <div class="container">
        <hr>
        <div class="row">
          <p class="col-sm-10">{{post.author}}</p>

          <p class="col-sm-2">{{post.created}}</p>
        </div>
      </div>

        <p>
       {{ post.body|safe }}
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
