{% extends 'maindoctor.html' %} {% load static %}{% block content %}
<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <img src="{% static 'images/aiblue.png' %}" alt="icon" class="icon" />

    <span class="text">Radio.AI</span>
  </a>
  <ul class="side-menu top">

    <li>
      <a href="{% url 'patient_appointments' %}">
        <i class="bx bxs-group"></i>
        <span class="text">My Appointments</span>
      </a>
    </li>
    <li>
      <a href="{% url 'patient_reports' %}">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">My Reports</span>
      </a>
    </li>

  </ul>
  <ul class="side-menu">
    <li>
      <a href="{% url 'patient_profil' username=request.user.username %}">
        <i class="bx bx-user"></i>
        <span class="text">Profil</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- MAIN -->
<main>
  <div class="head-title">
    <div class="left">
      <h1>Welcome to Radio.AI</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="#">Home</a>
        </li>
      </ul>
    </div>

  </div>



 <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Appointments List</h3>
        {% comment %} <i class="bx bx-search"></i>
        <i class="bx bx-filter"></i> {% endcomment %}
      </div>
<table>
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Date&Time</th>
      <th>Type of Test</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
{% for appointment in appointments %}

 <tbody>
  
<tr>
    <td>{{ appointment.patient.firstname }} {{ appointment.patient.lastname }}</td>
    <td>{{ appointment.date_and_time }}</td>
    <td>{{ appointment.exam_type }}</td>
    <td><span class="status pending">Appointment Missed</span>
</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  </div>
</main>
<!-- MAIN -->
{% endblock content %}