body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.form_wrapper {
    background: #fff;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 2% auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid #178066;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
}

.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper label {
    font-size: 12px;
}

.form_wrapper .row {
    margin: 10px -15px;
}

.form_wrapper .row>div {
    padding: 0 15px;
    box-sizing: border-box;
}

.form_wrapper .col_half {
    width: 50%;
    float: left;
}

.form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.form_wrapper .input_field>span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #cccccc;
    text-align: center;
    width: 30px;
}

.form_wrapper>a {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #cccccc;
    text-align: center;
    width: 30px;
}

.form_wrapper .input_field>span>i {
    padding-top: 10px;
}

.form_wrapper .textarea_field>span>i {
    padding-top: 10px;
}

.form_wrapper input[type=text],
.form_wrapper input[type=email],
.form_wrapper input[type=password] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form_wrapper input[type=text]:hover,
.form_wrapper input[type=email]:hover,
.form_wrapper input[type=password]:hover {
    background: #fafafa;
}

.form_wrapper input[type=text]:focus,
.form_wrapper input[type=email]:focus,
.form_wrapper input[type=password]:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(29, 150, 110, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(29, 150, 110, 0.5);
    box-shadow: 0 0 2px 1px rgba(29, 150, 110, 0.5);
    border: 1px solid #178066;
    background: #fafafa;
}

.form_wrapper input[type=submit] {
    background: #178066;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form_wrapper input[type=submit]:hover {
    background: #178066;
}

.form_wrapper input[type=submit]:focus {
    background: #178066;
}

.form_wrapper input[type=checkbox],
.form_wrapper input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form_container .row .col_half.last {
    border-left: 1px solid #cccccc;
}

.checkbox_option label {
    margin-right: 1em;
    position: relative;
}

.checkbox_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    vertical-align: -2px;
    border: 2px solid #cccccc;
    padding: 0.12em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}

.checkbox_option label:after {
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    top: 7px;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    width: 7px;
    display: none;
}

.checkbox_option input:hover+label:before {
    border-color: #000000;
}

.checkbox_option input:checked+label:before {
    border-color: #000000;
}

.checkbox_option input:checked+label:after {
    -moz-animation: check 0.8s ease 0s running;
    -webkit-animation: check 0.8s ease 0s running;
    animation: check 0.8s ease 0s running;
    display: block;
    width: 7px;
    height: 20px;
    border-color: #000000;
}

.radio_option label {
    margin-right: 1em;
}

.radio_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #cccccc;
    padding: 0.15em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}

.radio_option input:hover+label:before {
    border-color: #000000;
}

.radio_option input:checked+label:before {
    background-color: #000000;
    border-color: #000000;
}

.select_option {
    position: relative;
    width: 100%;
}

.select_option select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
}

.select_option select::-ms-expand {
    display: none;
}

.select_option select:hover,
.select_option select:focus {
    color: #000000;
    background: #fafafa;
    border-color: #000000;
    outline: none;
}

.select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
}

.select_option select:hover+.select_arrow,
.select_option select:focus+.select_arrow {
    border-top-color: #000000;
}

.forgotpassword {
    position: relative;
    z-index: 1;
    text-align: left;
    padding: 15px;
    color: #000000;
}

.forgotpassword a {
    color: #000000;
}

.credit {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 15px;
    color: #178066;
}

.credit a {
    color: #178066;
}
/* Django messages  */
.hidden {
  display: none;
}
#aui-flag-container {
  position: absolute;
top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4000;
}
    .aui-flag-stack {
    position: relative;
    }
    
    #aui-flag-container>.aui-flag-stack>div.aui-flag-stack-top-item[aria-hidden="false"] {
    display: block;
    transition: transform .5s .5s,top .5s,opacity .8s;
}

.aui-flag[aria-hidden="false"] {
    opacity: 1;
    top: 0;
    left: 0;
}
.aui-flag {
    left: 0;
    max-height: 300px;
    opacity: 0;
    position: relative;
    top: -10px;
    transition: opacity .2s,top .5s;
}

.aui-flag .aui-message {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
    width: 500px;
}

aui-message:first-child, .aui-message:first-child {
    margin-top: 0;
}

.aui-message {
    background: #fff;
    border: 1px solid #3572b0;
    border-radius: 3px;
    color: #333;
    line-height: 20px;
    margin: 20px 0 0 0;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}
.aui-message.warning, .aui-message-warning {
    background: #fff;
    border-color: #EDC211;
    color: #333;
}
.aui-message.error, .aui-message-error {
    background: #fff;
    border-color: #d04437;
    color: #333;
}

.aui-message.success, .aui-message-success {
    background: #fff;
    border-color: #669900;
    color: #333;
}

.aui-message.success:before, .aui-message-success:before {
    background-color: #669900;
}
.aui-message.error:before, .aui-message-error:before {
    background-color: #d04437;
}

.aui-message.warning:before, .aui-message-warning:before {
    background-color: #EDC211;
}
.aui-message:before {
    background-color: #3572b0;
}

.aui-message:before {
    background-color: #3572b0;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.aui-message p.title {
    font-weight: bold;
}

.aui-message p.title strong {
    font-weight: inherit;
}


.aui-message.closeable:hover .icon-close, .aui-message.closeable .icon-close:focus, .aui-message.closeable:not(.fadeout):not(.aui-will-close) .icon-close {
    opacity: 1;
}

.aui-message.closeable .icon-close {
    top: 10px;
}

.aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
}

.aui-message .aui-icon.icon-close {
    background-image: none;
    color: white;;
    text-indent: inherit;
}

.aui-message .aui-icon {
    background-position: center;
}

.aui-icon {
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    /*text-indent: -999em;*/
    vertical-align: text-bottom;
    width: 16px;
}

.aui-message.success:after, .aui-message-success:after {
    content: "\f05d";
    color: #fff;
}
.aui-message.warning:after, .aui-message-warning:after{
    content: "\f071";
    color: #fff;
}
.aui-message.error:after, .aui-message-error:after {
    content: "\f06a";
    color: #fff;
}

.aui-message:after {
    content: "\f05a";
    color: #fff;
}

.aui-message:after {
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    left: 12px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    speak: none;
    top: 50%;
}


@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 7px;
    }

    50% {
        height: 20px;
        width: 7px;
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 7px;
    }

    50% {
        height: 20px;
        width: 7px;
    }
}



@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }

    .bottom_row .col_half {
        width: 50%;
        float: left;
    }

    .form_container .row .col_half.last {
        border-left: none;
    }

    .remember_me {
        padding-bottom: 20px;
    }
}
/* Django messages */

@media only screen and (max-width: 768px) {
    #aui-flag-container {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }




    .aui-message {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .aui-message:before {
        width: 20px;
    }

    .aui-message.closeable .icon-close {
width :70%;
    }
}