@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 48px 5%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    background-color: #fff;
}
.container {
   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:0px;
  margin: 0 auto; /* Center the box horizontally */
  width: 80%; /* Set width */ 
}
h2{
    font-size: 2rem;

    color: #178066;
}

/* Style your content as needed */
h1 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
}
.title {
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 54px;
}

.title small {
    font-size: 16px;
}

.link {
    display: block;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 54px;
}

.checkbox-input {
    display: none;
}

.checkbox-label,
.checkbox-text,
.checkbox-text--description {
    transition: all 0.4s ease;
}

.checkbox-label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    padding: 30px 40px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #178066;
}

.checkbox-label:before {
    content: "";
    position: absolute;
    top: 75%;
    right: 16px;
    width: 40px;
    height: 40px;
    opacity: 0;
    background-color: #178066;
    background-image: url(http://lorenzodianni.io/codepen/icon/done--white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 50%;
    transform: translate(0%, -50%);
    transition: all 0.4s ease;
}

.checkbox-text--title {
    font-weight: 500;
}

.checkbox-text--description {
    font-size: 14px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #178066;
}

.checkbox-text--description .un {
    display: none;
}

.checkbox-input:checked+.checkbox-label {
    border-color: #178066;
    box-shadow: inset 0 -12px 0 0 #178066;
}

.checkbox-input:checked+.checkbox-label:before {
    top: 0;
    opacity: 1;
}

.checkbox-input:checked+.checkbox-label .checkbox-text {
    transform: translate(0, -8px);
}

.checkbox-input:checked+.checkbox-label .checkbox-text--description {
    border-color: #c4c4c4;
}

.checkbox-input:checked+.checkbox-label .checkbox-text--description .un {
    display: inline-block;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
    background: #178066;
    height: 35px;
    line-height: 35px;
    width: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.button {
  display: inline-block;
  margin: 10px 10px; 
    background: #178066;
    height: 35px;
    line-height: 35px;
    width: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;/* add some margin between the buttons */
}

input[type=submit]:hover {
    background: #178066;
}

input[type=submit]:focus {
    background: #178066;
}
/* Django messages  */
.hidden {
  display: none;
}
#aui-flag-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4000;
}
    .aui-flag-stack {
    position: relative;
    }
    
    #aui-flag-container>.aui-flag-stack>div.aui-flag-stack-top-item[aria-hidden="false"] {
    display: block;
    transition: transform .5s .5s,top .5s,opacity .8s;
}

.aui-flag[aria-hidden="false"] {
    opacity: 1;
    top: 0;
    left: 0;
}
.aui-flag {
    left: 0;
    max-height: 300px;
    opacity: 0;
    position: relative;
    top: -10px;
    transition: opacity .2s,top .5s;
}

.aui-flag .aui-message {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
    width: 500px;
}

aui-message:first-child, .aui-message:first-child {
    margin-top: 0;
}

.aui-message {
    background: #fff;
    border: 1px solid #3572b0;
    border-radius: 3px;
    color: #333;
    line-height: 20px;
    margin: 20px 0 0 0;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}
.aui-message.warning, .aui-message-warning {
    background: #fff;
    border-color: #EDC211;
    color: #333;
}
.aui-message.error, .aui-message-error {
    background: #fff;
    border-color: #d04437;
    color: #333;
}

.aui-message.success, .aui-message-success {
    background: #fff;
    border-color: #669900;
    color: #333;
}

.aui-message.success:before, .aui-message-success:before {
    background-color: #669900;
}
.aui-message.error:before, .aui-message-error:before {
    background-color: #d04437;
}

.aui-message.warning:before, .aui-message-warning:before {
    background-color: #EDC211;
}
.aui-message:before {
    background-color: #3572b0;
}

.aui-message:before {
    background-color: #3572b0;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.aui-message p.title {
    font-weight: bold;
}

.aui-message p.title strong {
    font-weight: inherit;
}


.aui-message.closeable:hover .icon-close, .aui-message.closeable .icon-close:focus, .aui-message.closeable:not(.fadeout):not(.aui-will-close) .icon-close {
    opacity: 1;
}

.aui-message.closeable .icon-close {
    top: 10px;
}

.aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
}

.aui-message .aui-icon.icon-close {
    background-image: none;
    color: white;;
    text-indent: inherit;
}

.aui-message .aui-icon {
    background-position: center;
}

.aui-icon {
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    /*text-indent: -999em;*/
    vertical-align: text-bottom;
    width: 16px;
}

.aui-message.success:after, .aui-message-success:after {
    content: "\f05d";
    color: #fff;
}
.aui-message.warning:after, .aui-message-warning:after{
    content: "\f071";
    color: #fff;
}
.aui-message.error:after, .aui-message-error:after {
    content: "\f06a";
    color: #fff;
}

.aui-message:after {
    content: "\f05a";
    color: #fff;
}

.aui-message:after {
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    left: 12px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    speak: none;
    top: 50%;
}


@media screen and (min-width: 540px) {
    .checkbox-label {
        width: 450px;
        margin: 16px;
    }


}

@media screen and (max-width: 540px) {
    .title {
        font-size: 27px;
        font-weight: 150;
        margin-bottom: 27px;
    }
}
/* Django messages */

@media only screen and (max-width: 768px) {
    #aui-flag-container {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .aui-message {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .aui-message:before {
        width: 20px;
    }

    .aui-message.closeable .icon-close {
width :70%;
    }
}