<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_contact">
          <h4>Reach at..</h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Location </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +216 72 558 544 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>radioaicontact2023@gmail.com</span>
            </a>
          </div>
        </div>
        <div class="footer_social">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_detail">
          <h4>About</h4>
          <p>
            At Radio.AI , we are dedicated to providing the highest quality
            imaging services to our patients in a safe and comfortable
            environment. Our practice is led by a team of experienced
            radiologists who are committed to using the latest technology and
            techniques to diagnose and treat a wide range of medical conditions.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2 mx-auto footer_col">
        <div class="footer_link_box">
          <h4>Links</h4>
          <div class="footer_links">
            <a class="active" href="{% url 'home' %}"> Home </a>
            <a class="" href="{% url 'writetestimonial' %}">
              Request Appointment
            </a>
            <a class="" href="{% url 'patientcare' %}"> Patient Care </a>
            <a class="" href="{% url 'blog' %}"> Blog </a>
            <a class="" href="{% url 'aboutus' %}"> About Us </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer_col">
        <h4>Newsletter</h4>
        <form action="">
          <button type="submit"><a href="{% url 'newsletter' %}" style="color:white;">Subscribe</a></button></form>

      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
      </p>
    </div>
  </div>
</footer>
