{% load static %}

<!-- header section strats -->
<div class="hero_area">
  <div class="hero_bg_box">
    <img src="{% static 'images/radiologists.jpg'%} " alt="" />
  </div>
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/ai.png'%} " alt="" />
          <span> Radio.AI </span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'requestappointment' %}">
                Request Appointment <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'patientcare' %}"
                >Patient Care</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="btn custom-btn1" href="{% url 'aboutus' %}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="btn custom-btn2" href="{% url 'aboutus' %}">Sign In</a>
            </li>
            {% comment %}
            <form class="form-inline">
              <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
            {% endcomment %}
          </ul>
        </div>
      </nav>
    </div>
    <script>
      const navbar = document.querySelector(".custom_nav-container");
      window.onscroll = () => {
        if (window.scrollY > 0) {
          navbar.classList.add("nav-active");
        } else {
          navbar.classList.remove("nav-active");
        }
      };
    </script>
  </header>

  <section class="slider_section">
    <div class="title-gap col-md-10 mx-auto px-0">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Get Your Radiology Reports from the comfort of your own
                      home
                    </h1>
                    <p>
                      With this technology, patients can avoid the hassle of
                      physically visiting the radiology center or waiting for
                      the reports to be mailed to them. with our team of skilled
                      doctors and radiologists working together in communication
                      to produce highly accurate results
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'patientcare' %}" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Bring The Power of AI into your Healthcare Experience
                    </h1>
                    <p>
                      With AI technology, we can provide more accurate diagnoses
                      and personalized treatment plans, By embracing AI, we are
                      able to offer cutting-edge tools to our radiologists,
                      assisting them in identifying abnormalities and making
                      informed decisions about patient care.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'requestappointment' %}" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Stay up-to-date with the latest news and get medical
                      advice
                    </h1>
                    <p>
                      At our radiology center, we understand the importance of
                      staying informed about the latest developments and
                      technologies in the field of radiology. That's why we have
                      created a dedicated blog section on our website where we
                      share insights, news, and updates related to radiology.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'blog' %}" class="btn1"> Read More </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li
            data-target="#customCarousel1"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>
</div>
<!-- end slider section -->

<!-- end header section -->
