{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>Pneumonia AI test</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <div class="container">
     <header>
     <section class="navbar navbar-default navbar-static-top" role="navigation" style="align-items: center;">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>


                    <a href="index.html" class="navbar-brand"><i class="fa fa-h-square"></i>Pneumonia test</a>
               </div>


          </div>
     </section>
</header>
</div>




<div class="container">
     {% block content%}
     {% endblock %}

</div>

</body>
</html>