{% extends 'maindoctor.html' %} {% load static %}{% block content %}
 <style>
          .hidden {
        display: none;
    }
      #aui-flag-container {
    position: fixed;
    top: 20px;
    left: 35%;
    z-index: 4000;
}
    .aui-flag-stack {
    position: relative;
    }
    
    #aui-flag-container>.aui-flag-stack>div.aui-flag-stack-top-item[aria-hidden="false"] {
    display: block;
    transition: transform .5s .5s,top .5s,opacity .8s;
}

.aui-flag[aria-hidden="false"] {
    opacity: 1;
    top: 0;
    left: 0;
}
.aui-flag {
    left: 0;
    max-height: 80px;
    opacity: 0;
    position: relative;
    top: -10px;
    transition: opacity .2s,top .5s;
}

.aui-flag .aui-message {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
    width: 350px;
}

aui-message:first-child, .aui-message:first-child {
    margin-top: 0;
}

.aui-message {
    background: #fff;
    border: 1px solid #3572b0;
    border-radius: 3px;
    color: #333;
    line-height: 20px;
    margin: 20px 0 0 0;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}
.aui-message.warning, .aui-message-warning {
    background: #fff;
    border-color: #EDC211;
    color: #333;
}
.aui-message.error, .aui-message-error {
    background: #fff;
    border-color: #d04437;
    color: #333;
}

.aui-message.success, .aui-message-success {
    background: #fff;
    border-color: #669900;
    color: #333;
}

.aui-message.success:before, .aui-message-success:before {
    background-color: #669900;
}
.aui-message.error:before, .aui-message-error:before {
    background-color: #d04437;
}

.aui-message.warning:before, .aui-message-warning:before {
    background-color: #EDC211;
}
.aui-message:before {
    background-color: #3572b0;
}

.aui-message:before {
    background-color: #3572b0;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.aui-message p.title {
    font-weight: bold;
}

.aui-message p.title strong {
    font-weight: inherit;
}


.aui-message.closeable:hover .icon-close, .aui-message.closeable .icon-close:focus, .aui-message.closeable:not(.fadeout):not(.aui-will-close) .icon-close {
    opacity: 1;
}

.aui-message.closeable .icon-close {
    top: 10px;
}

.aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
}

.aui-message .aui-icon.icon-close {
    background-image: none;
    color: #707070;
    text-indent: inherit;
}

.aui-message .aui-icon {
    background-position: center;
}

.aui-icon {
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    /*text-indent: -999em;*/
    vertical-align: text-bottom;
    width: 16px;
}

.aui-message.success:after, .aui-message-success:after {
    content: "\f05d";
    color: #fff;
}
.aui-message.warning:after, .aui-message-warning:after{
    content: "\f071";
    color: #fff;
}
.aui-message.error:after, .aui-message-error:after {
    content: "\f06a";
    color: #fff;
}

.aui-message:after {
    content: "\f05a";
    color: #fff;
}

.aui-message:after {
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    left: 12px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    speak: none;
    top: 50%;
}
    </style>
<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <img src="{% static 'images/aiblue.png' %}" alt="icon" class="icon" />

    <span class="text">Radio.AI</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a href="{% url 'doctor' %}">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="{% url 'patients' %}">
        <i class="bx bxs-group"></i>
        <span class="text">My Patients</span>
      </a>
    </li>
    <li>
      <a href="{% url 'reports' %}">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Reports</span>
      </a>
    </li>
    {% comment %} <li>
      <a href="#">
        <i class="bx bxs-bell"></i>

        <span class="text">Notifications</span>
      </a>
    </li> {% endcomment %}
    <li>
      <a href="{% url 'addblog' %}">
        <i class="bx bx-news"></i>
        <span class="text">Publish to Blog</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="{% url 'profil' username=request.user.username %}">
        <i class="bx bx-user"></i>
        <span class="text">Profil</span>
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- MAIN -->
<main>
  {% if messages %}
  {% for message in messages %}
    <div class="container">
      <div class="row">
        <div id="aui-flag-container" style="top: 220px">
          <div class="aui-flag" aria-hidden="false">
            
            <div id="message-container" class="aui-message{% if message.tags == 'success' %} aui-message-success success{% elif message.tags == 'error' %} aui-message-error error{% elif message.tags == 'warning' %} aui-message-warning warning{% endif %} closeable shadowed">
              {{ message }}
              {% comment %} <span class="aui-icon icon-close fa fa-close" role="button" tabindex="0"></span> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="{% static 'js/messages.js' %}"></script>
  {% endfor %}
{% endif %}
  <div class="head-title">
    <div class="left">
      <h1>Doctor Dashboard</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
          <a class="active" href="#">Home</a>
        </li>
      </ul>
    </div>

  </div>

  <ul class="box-info">
    <li>
      <i class="bx bxs-calendar-check"></i>
      <span class="text">
        <h3>{{report_count}}</h3>
        <p>Reports</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-group"></i>
      <span class="text">
        <h3>{{patient_count}}</h3>
        <p>Patients</p>
      </span>
    </li>

  </ul>
 <div class="table-data">


     <div class="order">
      <div class="head">
        <h3>Recent Reports</h3>
        {% comment %} <i class="bx bx-search"></i>
        <i class="bx bx-filter"></i> {% endcomment %}
      </div>
      
      <table>
        <thead>
          <tr>
            <th>Report ID</th>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Type of Exam</th>
            <th>Body Part</th>
            <th>Details</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
  {% for report in reports %}

    <tr>
      <td>{{ report.id }}</td>
      <td>{{ report.patient.firstname }} {{report.patient.lastname}}</td>
      <td>{{ report.date }}</td>
      <td>{{ report.exam_type }}</td>
      <td>{{ report.body_part }}</td>
<td><a href="#" hx-get="{% url 'report_details' report.id %}" hx-trigger="click"  hx-push-url="true" hx-target="#boxcontent" style="color:#ce2823;">{{ report.details|truncatechars:15|safe }}</a></td>

       <td> {% if report.status == 'R' %}
    <span class="status pending">Pending</span>
      {% elif report.status == 'P' %}
    <span class="status process">In process</span>
    {% endif %}
      </td>


    </tr>

    {% endfor %}
        </tbody>
      </table>
  
    </div>
  </div>
  </div>
</main>
<!-- MAIN -->
{% endblock content %}
